/****************************************************
*  Global header
*/

.site-header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 1em;
  min-height: 5em;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 2em;
  max-width: 1140px;
}

.site-header__name {
  border-bottom: 0;
  font-size: 1.6em;
  font-style: normal;
  font-weight: 700;
  letter-spacing: .1em;
  padding-bottom: 0;
}

.site-header__item {
  display: inline;

  &:not(:last-of-type) {
    margin-right: 2em;
  }

  a {
    border: 0;
    font-style: normal;
  }
}



/****************************************************
*  Media queries
*/

@include media("<=tablet") {

  .site-header {
    padding: 2em 1em;
    flex-direction: column;
  }

  .site-header__list {
    padding: 0;
    margin-bottom: 0;
    font-size: 1.2em;
  }

  .site-header__item:not(:last-of-type) {
    margin-right: 1em;
  }
}
