<footer class="site-footer" role="contentinfo">
  <ul class="site-footer__list">
    <li class="site-footer__item">
      <a href="{{ site.baseurl }}" class="site-footer__title">{{ site.title }}</a>
      <span class="site-footer__desc">Copyright {{ site.time | date: '%Y' }}</span>
    </li>
    <li class="site-footer__item">
      <span class="site-footer__title">Github</span>
      <a href="http://github.com/{{ site.github }}" class="site-footer__desc">@{{ site.github }}</a>
    </li>
  </ul>
</footer>
