<header class="site-header">
  <a href="{{ site.baseurl }}/" class="site-header__name">{{ site.title }}</a>
  <ul class="site-header__list">
    <li class="site-header__item"><a href="{{ site.baseurl }}/about/" class="site-header__about">About me</a></li>
    <li class="site-header__item"><a href="{{ site.baseurl }}/#section-work" class="site-header__work">Work</a></li>
    <li class="site-header__item"><a href="{{ site.baseurl }}/blog/" class="site-header__blog">Blog</a></li>
    <li class="site-header__item"><a href="{{ site.baseurl }}/#section-contact" class="site-header__contact">Contact</a></li>
  </ul>
</header>
