/****************************************************
*  Base styling
*/

* {
  box-sizing: border-box;
}

::selection {
  background-color: $color-font-accent;
  color: $color-font-selected;
}

body {
  background-color: $color-background-base;
  color: $color-font-base;
  font-family: $font-family;
  font-size: $font-size-base;
  font-weight: 300;
  line-height: $line-height-base;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: $font-size-h1;
  font-weight: 300;
  margin: 0;
}

h2 {
  font-size: $font-size-h2;
  font-weight: 600;
  margin: 0;
}

h3 {
  font-size: $font-size-h3;
  font-weight: 400;
  margin: 0;
}

h4 {
  font-size: $font-size-h4;
  font-weight: 400;
  margin: 0;
}

h5 {
  font-size: $font-size-h5;
  margin: 0;
}

h6 {
  font-size: $font-size-h6;
  margin: 0;
}

p {
  margin-top: 1em;
  font-size: 1.2em;
  font-weight: 300;
}

a {
  border-bottom: 1px solid $color-border-base;
  color: $color-link-base;
  font-style: italic;
  font-weight: 400;
  text-decoration: none;
  transition-duration: .2s;
  transition-property: color, border-color;
  
  &:hover {
    color: $color-link-base-hover;
    border-color: $color-link-base-hover;
  }
}

code {
  font-family: Monaco, monospace;
  font-size: 13px;
}

textarea:focus, 
input:focus {
  outline: 0;
}

hr {
  border-top: 0;
  border-bottom: 1px solid $color-border-light;
}

blockquote {
  border-left: 2px solid $color-gray;
  margin: 0;
  padding-left: 2em;
  font-style: italic;
}

cite {
  display: block;
  font-weight: bold;
  margin-top: 1em;

  &:before {
    content: "-";
    margin-right: .4em;
  }
}

tr, 
th, 
td {
  border: 2px solid $color-gray;
  padding: .5em 1em;
  text-align: center;
}
