/****************************************************
*  Media queries
*/

@media only screen and (max-width: 800px) {
  body {
    font-size: $font-size-base-mq;
    line-height: $line-height-base-mq;
  }

  .wrapper--header {
    position: relative;
  }

  .site-header {
    padding: 2em 1em;
    flex-direction: column;
  }

  .site-header__list {
    padding: 0;
    margin-bottom: 0;
    font-size: 1.2em;
  }

  .site-header__item:not(:last-of-type) {
    margin-right: 1em;
  }

  .wrapper--content {
    padding: 0;
  }

  .section {
    padding-bottom: 3em;
  }

  .section__heading {
    margin: 2em 0;
  }

  .section__text--about {
    margin-top: 1em;
  }

  .column {
    width: 100%;
    flex-grow: 1;
    margin-top: 2em;

    &:last-of-type {
      margin-bottom: 2em;
    }
  }

  .column__text {
    padding: 1em 0;
    font-size: 1.2em;
    line-height: $line-height-base-mq;
  }

  .wrapper--columns {
    flex-direction: column;
  }

  .showcase-row {
    flex-direction: column;
    margin: 0;

    &:not(:first-of-type) {
      margin-top: 6em;
    }
  }

  .showcase-image {
    height: auto;
    max-width: 100%;
    margin: 2em auto;
  }

  .showcase-info {
    margin: 0;
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .posts-list {
    margin: 2em 0 3em;
  }

  .posts-list-item__excerpt {
    font-style: italic;
    font-weight: 400;
  }

  .contact-form {
    margin-top: 2em;
  }

  .contact-form__item--textarea {
    margin-bottom: 3em;
  }

  .button {
    margin: 0;
  }

}
