/****************************************************
*  Typography
*/

// @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic);

/* Fontfaces */

$font-family: 'Source Sans Pro', sans-serif;

/* Font sizes */

$font-size-base: 1em;
$font-size-h1: $font-size-base * 4;
$font-size-h2: $font-size-base * 2.25;
$font-size-h3: $font-size-base * 1.5;
$font-size-h4: $font-size-base;
$font-size-h5: $font-size-base;
$font-size-h6: $font-size-base * .75;

$font-size-base-mq: .9em;

/* Line height */
$line-height-base: 1.625;
$line-height-base-mq: 1.5;



/****************************************************
*  Colors
*/

/* Base palette */
$color-white: rgb(255, 255, 255);
$color-gray-light: rgb(217, 231, 235);
$color-gray: rgb(199, 218, 224);
$color-gray-dark: rgb(87, 98, 102);
$color-black: rgb(36, 43, 47);
$color-red: rgb(216, 0, 50);
$color-green: rgb(19, 235, 145);
$color-green-light: rgb(156, 247, 143);
$color-blue: rgb(0, 188, 220);
$color-orange: rgb(255, 175, 0);
$color-purple: rgb(93, 59, 70);

/* Background colors */
$color-background-base: $color-gray-light;
$color-background-header: transparentize($color-white, .1);
$color-background-footer: $color-black;

$color-background-intro: $color-gray-light;
$color-background-about: $color-gray;
$color-background-work: linear-gradient(to bottom, $color-green-light, $color-green);
$color-background-posts-list: $color-gray-light;
$color-background-contact: $color-gray-dark;

$color-background-single-post: $color-gray-light;

$color-background-page: $color-gray-light;

/* Font colors */
$color-font-base: $color-black;
$color-font-header: $color-black;
$color-font-footer: $color-gray-light; // Footer has dark background so the font color must be light.
$color-font-accent: mix($color-gray, #000, 50%); // Darker
$color-font-selected: $color-white;

/* Links colors */
$color-link-base: $color-black;
$color-link-base-hover: mix($color-black, #fff, 50%); // Lighter
$color-link-footer: $color-gray-light; // And again, footer has dark background so links need to be light, too.
$color-link-footer-hover: $color-gray-light;

/* Borders colors */
$color-border-base: $color-black;
$color-border-base-hover: mix($color-black, #fff, 50%);
$color-border-light: $color-gray;

/* Buttons colors */
$color-button-about: mix($color-background-about, #000, 40%);
$color-button-about-hover: mix($color-background-about, #000, 80%);

$color-button-work: mix($color-green, #000, 40%);
$color-button-work-hover: mix($color-green, #000, 80%);

$color-button-posts-list: mix($color-background-posts-list, #000, 40%);
$color-button-posts-list-hover: mix($color-background-posts-list, #000, 80%);

$color-button-contact: mix($color-background-contact, #000, 40%);
$color-button-contact-hover: $color-gray;
