<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ site.title }} - {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="author" content="{{ site.author }}">
    <meta name="keywords" content="{{ site.keywords }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:title" content="{% if page.title %}{{ site.title }} - {{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}">
    <meta property="og:image" content="{{ site.baseurl }}/favicon-192x192.png">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="theme-color" content="#ffffff">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="canonical" href="{{ page.url | prepend: site.url }}">
    <!-- inject:css -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/dist/stylesheets/main-8990041e.min.css">
    <!-- endinject -->
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon-192x192.png" sizes="192x192">
  </head>
  <body>
    <div class="wrapper--header">
      {% include header.html %}
    </div>
    <div class="wrapper--content">
      {{ content }}
    </div>
    <div class="wrapper--footer">
      {% include footer.html %}
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-54292079-4', 'auto');
      ga('send', 'pageview');
    </script>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <!-- vendorScripts:js -->
    <script src="{{ site.baseurl }}/assets/dist/scripts/vendors-7d9578f2.min.js"></script>
    <!-- endinject -->
    <!-- script:js -->
    <script src="{{ site.baseurl }}/assets/dist/scripts/main-85c6ea43.min.js"></script>
    <!-- endinject -->
  </body>
</html>
